
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #4c4c6d, #24243e);
    color: #ffffff; 
    background-attachment: fixed; 
}


.nav-barra {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Arial Black', sans-serif;
    background-color: #222;
    padding: 15px 30px;
}


.logo-container {
    display: flex;
    align-items: center;
}

.logo-img {
    width: 85px; 
    height: auto; 
    margin-right: 10px; 
}

.logo-text {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
}


.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    padding: 5px 10px;
    transition: color 0.3s ease;
}

.nav-links li a:hover {
    color: #3498db; 
}


.nav-links li a::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -5px; 
    width: 0;
    height: 2px; 
    background: #3498db; 
    transition: width 0.3s ease, left 0.3s ease;
}

.nav-links li a:hover::after {
    width: 100%;
    left: 0; 
}

.container {
    padding: 20px;
    background-color: #ffffff;
    color: #333;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table th, table td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

table th {
    background-color: #3498db;
    color: white;
}

table tbody tr:hover {
    background-color: #f4f4f4;
}


@media (max-width: 768px) {
    .nav-barra {
        flex-direction: column;
        align-items: flex-start;
    }
    
    .nav-links {
        flex-direction: column;
    }

    .nav-links li {
        margin-left: 0;
        margin-bottom: 10px;
    }

    .logo-container {
        margin-bottom: 15px;
    }
}
