<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listagem de Endereços</title>
    <link rel="stylesheet" href="../style/listagemendreco.css"> 
    <script de src="../js/listagemendreco.js"></script> 
</head>
<body>

    <nav class="nav-barra">
        <div class="logo-container">
            <img src="../images/986ec700-a486-4b58-aef3-1add353d329c.webp" alt="Logo Sneakers" class="logo-img">
            <span class="logo-text">Sneakers</span>
        </div>
        <ul class="nav-links">
            <li><a href="../view/endereco.html">cadastro de endereço</a></li>
            <li><a href="./cadastro.html">Cadastro</a></li>
            <li><a href="./login.html">Login</a></li>
        </ul>
    </nav>


    <div class="container">
        <h1>Endereços Cadastrados</h1>
        <table>
            <thead>
                <tr>
                    <th>Título</th>
                    <th>CEP</th>
                    <th>Número</th>
                    <th>Complemento</th>
                </tr>
            </thead>
            <tbody>
                
            </tbody>
        </table>
    </div>
</body>
</html>



